
.outer{
    float: left;
    width: 25%;
    padding: 20px;
}
.inner{
    content: "";
  display: table;
  clear: both;
    

}
.inner:after {
  content: "";
  display: table;
  clear: both;
}

@media  screen and (max-width :990px) {
    .outer{
        width: 50%;
    }
    /* .outer{
        width: 100%;
    } */
}

@media  screen and (max-width : 600px) {
    .outer{
        width: 100%;

    }
}
